# Document retrieval from wikipedia data

## Fire up Libraries

In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from collections import Counter
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import metrics
from operator import itemgetter

from sklearn.metrics.pairwise import cosine_similarity

from sklearn.neighbors import NearestNeighbors

from sklearn.linear_model import LogisticRegression

# Load some text data - from wikipedia, pages on people

In [2]:
people = pd.read_csv('people_wiki.csv', index_col='name')

Data contains:  link to wikipedia article, name of person, text of article.

In [3]:
people.head()

,URI,text
name,,
Digby Morrell,<http://dbpedia.org/resource/Digby_Morrell>,digby morrell born 10 october 1979 is a former...
Alfred J. Lewy,<http://dbpedia.org/resource/Alfred_J._Lewy>,alfred j lewy aka sandy lewy graduated from un...
Harpdog Brown,<http://dbpedia.org/resource/Harpdog_Brown>,harpdog brown is a singer and harmonica player...
Franz Rottensteiner,<http://dbpedia.org/resource/Franz_Rottensteiner>,franz rottensteiner born in waidmannsfeld lowe...
G-Enka,<http://dbpedia.org/resource/G-Enka>,henry krvits born 30 december 1974 in tallinn ...

In [4]:
people.shape

(59071, 2)

# Explore the dataset and checkout the text it contains

## Exploring the entry for president Obama

In [5]:
obama = people[people.index == 'Barack Obama'].copy()

In [6]:
obama

,URI,text
name,,
Barack Obama,<http://dbpedia.org/resource/Barack_Obama>,barack hussein obama ii brk husen bm born augu...

In [12]:
print (obama['text'].values[0])

barack hussein obama ii brk husen bm born august 4 1961 is the 44th and current president of the united states and the first african american to hold the office born in honolulu hawaii obama is a graduate of columbia university and harvard law school where he served as president of the harvard law review he was a community organizer in chicago before earning his law degree he worked as a civil rights attorney and taught constitutional law at the university of chicago law school from 1992 to 2004 he served three terms representing the 13th district in the illinois senate from 1997 to 2004 running unsuccessfully for the united states house of representatives in 2000in 2004 obama received national attention during his campaign to represent illinois in the united states senate with his victory in the march democratic party primary his keynote address at the democratic national convention in july and his election to the senate in november he began his presidential campaign in 2007 and after a close primary campaign against hillary rodham clinton in 2008 he won sufficient delegates in the democratic party primaries to receive the presidential nomination he then defeated republican nominee john mccain in the general election and was inaugurated as president on january 20 2009 nine months after his election obama was named the 2009 nobel peace prize laureateduring his first two years in office obama signed into law economic stimulus legislation in response to the great recession in the form of the american recovery and reinvestment act of 2009 and the tax relief unemployment insurance reauthorization and job creation act of 2010 other major domestic initiatives in his first term included the patient protection and affordable care act often referred to as obamacare the doddfrank wall street reform and consumer protection act and the dont ask dont tell repeal act of 2010 in foreign policy obama ended us military involvement in the iraq war increased us troop levels in afghanistan signed the new start arms control treaty with russia ordered us military involvement in libya and ordered the military operation that resulted in the death of osama bin laden in january 2011 the republicans regained control of the house of representatives as the democratic party lost a total of 63 seats and after a lengthy debate over federal spending and whether or not to raise the nations debt limit obama signed the budget control act of 2011 and the american taxpayer relief act of 2012obama was reelected president in november 2012 defeating republican nominee mitt romney and was sworn in for a second term on january 20 2013 during his second term obama has promoted domestic policies related to gun control in response to the sandy hook elementary school shooting and has called for full equality for lgbt americans while his administration has filed briefs which urged the supreme court to strike down the defense of marriage act of 1996 and californias proposition 8 as unconstitutional in foreign policy obama ordered us military involvement in iraq in response to gains made by the islamic state in iraq after the 2011 withdrawal from iraq continued the process of ending us combat operations in afghanistan and has sought to normalize us relations with cuba

## Exploring the entry for actor George Clooney

In [13]:
clooney = people[people.index == 'George Clooney']
print (clooney['text'].values[0])

george timothy clooney born may 6 1961 is an american actor writer producer director and activist he has received three golden globe awards for his work as an actor and two academy awards one for acting and the other for producingclooney made his acting debut on television in 1978 and later gained wide recognition in his role as dr doug ross on the longrunning medical drama er from 1994 to 1999 for which he received two emmy award nominations while working on er he began attracting a variety of leading roles in films including the superhero film batman robin 1997 and the crime comedy out of sight 1998 in which he first worked with a director who would become a longtime collaborator steven soderbergh in 1999 clooney took the lead role in three kings a wellreceived war satire set during the gulf warin 2001 clooneys fame widened with the release of his biggest commercial success the heist comedy oceans eleven the first of the film trilogy a remake of the 1960 film with frank sinatra as danny ocean he made his directorial debut a year later with the biographical thriller confessions of a dangerous mind and has since directed the drama good night and good luck 2005 the sports comedy leatherheads 2008 the political drama the ides of march 2011 and the comedydrama war film the monuments men 2014he won an academy award for best supporting actor for the middle east thriller syriana 2005 and subsequently earned best actor nominations for the legal thriller michael clayton 2007 the comedydrama up in the air 2009 and the drama the descendants 2011 in 2013 he received the academy award for best picture for producing the political thriller argo alongside ben affleck and grant heslov he is the only person ever to be nominated for academy awards in six categoriesclooney is sometimes described as one of the most handsome men in the world in 2005 tv guide ranked clooney no 1 on its 50 sexiest stars of all time list in 2009 he was included in times annual time 100 as one of the most influential people in the world clooney is also noted for his political activism and has served as one of the united nations messengers of peace since january 31 2008 his humanitarian work includes his advocacy of finding a resolution for the darfur conflict raising funds for the 2010 haiti earthquake 2004 tsunami and 911 victims and creating documentaries such as sand and sorrow to raise awareness about international crises he is also a member of the council on foreign relations

# Get the word counts for Obama article

In [14]:
count_vectorizer    = CountVectorizer()
obama['word_count'] = count_vectorizer.fit_transform(obama['text'].values)

## Showing the features (i.e. words)

In [15]:
print (count_vectorizer.get_feature_names())

['13th', '1961', '1992', '1996', '1997', '20', '2000in', '2004', '2007', '2008', '2009', '2010', '2011', '2012', '2012obama', '2013', '44th', '63', 'act', 'address', 'administration', 'affordable', 'afghanistan', 'african', 'after', 'against', 'american', 'americans', 'and', 'arms', 'as', 'ask', 'at', 'attention', 'attorney', 'august', 'barack', 'before', 'began', 'bin', 'bm', 'born', 'briefs', 'brk', 'budget', 'by', 'californias', 'called', 'campaign', 'care', 'chicago', 'civil', 'clinton', 'close', 'columbia', 'combat', 'community', 'constitutional', 'consumer', 'continued', 'control', 'convention', 'court', 'creation', 'cuba', 'current', 'death', 'debate', 'debt', 'defeated', 'defeating', 'defense', 'degree', 'delegates', 'democratic', 'district', 'doddfrank', 'domestic', 'dont', 'down', 'during', 'earning', 'economic', 'election', 'elementary', 'ended', 'ending', 'equality', 'federal', 'filed', 'first', 'for', 'foreign', 'form', 'from', 'full', 'gains', 'general', 'graduate', 'great', 'gun', 'harvard', 'has', 'hawaii', 'he', 'hillary', 'his', 'hold', 'honolulu', 'hook', 'house', 'husen', 'hussein', 'ii', 'illinois', 'in', 'inaugurated', 'included', 'increased', 'initiatives', 'insurance', 'into', 'involvement', 'iraq', 'is', 'islamic', 'january', 'job', 'john', 'july', 'keynote', 'laden', 'laureateduring', 'law', 'legislation', 'lengthy', 'levels', 'lgbt', 'libya', 'limit', 'lost', 'made', 'major', 'march', 'marriage', 'mccain', 'military', 'mitt', 'months', 'named', 'national', 'nations', 'new', 'nine', 'nobel', 'nomination', 'nominee', 'normalize', 'not', 'november', 'obama', 'obamacare', 'of', 'office', 'often', 'on', 'operation', 'operations', 'or', 'ordered', 'organizer', 'osama', 'other', 'over', 'party', 'patient', 'peace', 'policies', 'policy', 'president', 'presidential', 'primaries', 'primary', 'prize', 'process', 'promoted', 'proposition', 'protection', 'raise', 'reauthorization', 'receive', 'received', 'recession', 'recovery', 'reelected', 'referred', 'reform', 'regained', 'reinvestment', 'related', 'relations', 'relief', 'repeal', 'represent', 'representatives', 'representing', 'republican', 'republicans', 'response', 'resulted', 'review', 'rights', 'rodham', 'romney', 'running', 'russia', 'sandy', 'school', 'seats', 'second', 'senate', 'served', 'shooting', 'signed', 'sought', 'spending', 'start', 'state', 'states', 'stimulus', 'street', 'strike', 'sufficient', 'supreme', 'sworn', 'taught', 'tax', 'taxpayer', 'tell', 'term', 'terms', 'that', 'the', 'then', 'three', 'to', 'total', 'treaty', 'troop', 'two', 'unconstitutional', 'unemployment', 'united', 'university', 'unsuccessfully', 'urged', 'us', 'victory', 'wall', 'war', 'was', 'where', 'whether', 'which', 'while', 'with', 'withdrawal', 'won', 'worked', 'years']

## Sort the word counts for the Obama article

In [16]:
vocab  = list(count_vectorizer.get_feature_names())
counts = obama['word_count'].values.sum(axis=0).toarray()[0]

freq_distribution = Counter(dict(zip(vocab, counts)))
print (freq_distribution.most_common(10))

[('the', 40), ('in', 30), ('and', 21), ('of', 18), ('to', 14), ('his', 11), ('obama', 9), ('act', 8), ('he', 7), ('as', 6)]

Most common words include uninformative words like "the", "in", "and",...

# Compute TF-IDF for the corpus 

To give more weight to informative words, we weigh them by their TF-IDF scores.

In [17]:
tfidf_vectorizer = TfidfVectorizer()
people['tfidf']  = list(tfidf_vectorizer.fit_transform(people['text']))

In [18]:
people.shape

(59071, 3)

In [19]:
len(tfidf_vectorizer.vocabulary_)

548429

## Examine the TF-IDF for the Obama article

In [20]:
obama = people[people.index == 'Barack Obama'].copy()

In [21]:
obama['tfidf'].values[0]

<1x548429 sparse matrix of type '<class 'numpy.float64'>'
	with 270 stored elements in Compressed Sparse Row format>

In [23]:
vocab = tfidf_vectorizer.get_feature_names()

response = obama['tfidf'].values[0]
l = [(vocab[col], response[0, col]) for col in response.nonzero()[1]]
l = sorted(l, key=itemgetter(1),reverse=True)
print (l[:10])

[('obama', 0.3650175898187781), ('the', 0.2793227400023615), ('act', 0.2490890416206761), ('in', 0.20967299876631698), ('iraq', 0.15180855532927304), ('and', 0.14673880270062417), ('law', 0.14468744228550123), ('control', 0.1318571790693225), ('of', 0.1262048162788276), ('us', 0.12283397315748205)]

Words with highest TF-IDF are much more informative.

# Eliminating stopwords

In [24]:
count_vectorizer    = CountVectorizer(stop_words='english')
obama['word_count'] = count_vectorizer.fit_transform(obama['text'].values)

vocab  = list(count_vectorizer.get_feature_names())
counts = obama['word_count'].values.sum(axis=0).toarray()[0]
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
people['tfidf']  = list(tfidf_vectorizer.fit_transform(people['text']))

vocab = tfidf_vectorizer.get_feature_names()

obama    = people[people.index == 'Barack Obama'].copy()
response = obama['tfidf'].values[0]
l        = [(vocab[col], response[0, col]) for col in response.nonzero()[1]]
l        = sorted(l, key=itemgetter(1),reverse=True)
print (l[:10])
freq_distribution = Counter(dict(zip(vocab, counts)))
print (freq_distribution.most_common(10))

[('obama', 9), ('act', 8), ('law', 6), ('control', 4), ('democratic', 4), ('iraq', 4), ('military', 4), ('president', 4), ('2004', 3), ('2009', 3)]

In [25]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
people['tfidf']  = list(tfidf_vectorizer.fit_transform(people['text']))

vocab = tfidf_vectorizer.get_feature_names()

obama    = people[people.index == 'Barack Obama'].copy()
response = obama['tfidf'].values[0]
l        = [(vocab[col], response[0, col]) for col in response.nonzero()[1]]
l        = sorted(l, key=itemgetter(1),reverse=True)
print (l[:10])

[('obama', 0.4134945526753888), ('act', 0.28216985897150365), ('iraq', 0.1719698240003707), ('law', 0.1639029758957432), ('control', 0.14936876138866909), ('ordered', 0.13863257254400477), ('military', 0.1353676447383487), ('democratic', 0.12979169658143577), ('response', 0.12482116078603717), ('involvement', 0.12482116078603717)]

# Manually compute distances between a few people

Let's manually compare the distances between the articles for a few famous people.

In [26]:
clinton = people[people.index == 'Bill Clinton'].copy()

In [27]:
beckham = people[people.index == 'David Beckham'].copy()

## Is Obama closer to Clinton than to Beckham?

We will find that the article about president Obama is closer to the one about former president Clinton than that of footballer David Beckham.

In [28]:
cosine_similarity(obama['tfidf'].values[0], clinton['tfidf'].values[0])

array([[0.18896718]])

In [29]:
cosine_similarity(obama['tfidf'].values[0], beckham['tfidf'].values[0])

array([[0.02556581]])

# Build a nearest neighbor model for document retrieval

We now create a nearest-neighbors model and apply it to document retrieval.

In [30]:
tfidf_matrix = tfidf_vectorizer.fit_transform(people['text'])
nbrs         = NearestNeighbors(n_neighbors=10).fit(tfidf_matrix)

In [31]:
def get_closest_neighbors(name):
    row                = people.index.get_loc(name)
    distances, indices = nbrs.kneighbors(tfidf_matrix.getrow(row))
    names_similar      = pd.Series(indices.flatten()).map(people.reset_index()['name'])
    result             = pd.DataFrame({'distance':distances.flatten(), 'name':names_similar})
    return result

# Applying the nearest-neighbors model for retrieval

## Who is closest to Obama?

In [32]:
get_closest_neighbors('Barack Obama')

   distance                     name
0  0.000000             Barack Obama
1  1.165145                Joe Biden
2  1.207369           Samantha Power
3  1.219640   Hillary Rodham Clinton
4  1.222509  Eric Stern (politician)
5  1.236178             Robert Gibbs
6  1.243057             Henry Waxman
7  1.244667   Jesse Lee (politician)
8  1.248296              Eric Holder
9  1.251607          Joe the Plumber

As we can see, president Obama's article is closest to the one about his vice-president Biden, and those of other politicians.

## Other examples of document retrieval

In [33]:
get_closest_neighbors('Taylor Swift')

   distance              name
0  0.000000      Taylor Swift
1  1.183004  Carrie Underwood
2  1.187754          Al Swift
3  1.193938        Ed Sheeran
4  1.197285        Tim McGraw
5  1.199189    Kelly Clarkson
6  1.199790             Adele
7  1.204965        Bill Swift
8  1.207081      Dolly Parton
9  1.208139        Joss Stone

In [34]:
get_closest_neighbors('Angelina Jolie')

   distance                name
0  0.000000      Angelina Jolie
1  1.173973           Brad Pitt
2  1.241878         Keith Jolie
3  1.253190        Jodie Foster
4  1.254573        Maggie Smith
5  1.259312    Jessica Chastain
6  1.260160       Anne Hathaway
7  1.262106       Nicole Kidman
8  1.262143        Barry Voight
9  1.263898  Billy Bob Thornton

In [35]:
get_closest_neighbors('Arnold Schwarzenegger')

   distance                      name
0  0.000000     Arnold Schwarzenegger
1  1.259683             Bonnie Garcia
2  1.263233  Paul Grant (bodybuilder)
3  1.283846                Gray Davis
4  1.284463              James Tramel
5  1.285100            Abel Maldonado
6  1.293240           Bruce McPherson
7  1.294107           Charlene Zettel
8  1.301621             Russell Gould
9  1.301828              David Israel

# Quizz questions

### Answer 1

In [1]:
elton = people[people.index == 'Elton John'].copy()
count_vectorizer    = CountVectorizer()
elton['word_count'] = count_vectorizer.fit_transform(elton['text'].values)

vocab  = list(count_vectorizer.get_feature_names())
counts = elton['word_count'].values.sum(axis=0).toarray()[0]

freq_distribution = Counter(dict(zip(vocab, counts)))
print (freq_distribution.most_common(3))
print ()

#TF-IDF
elton = people[people.index == 'Elton John'].copy()
elton['tfidf'].values[0]

vocab = tfidf_vectorizer.get_feature_names()

response = elton['tfidf'].values[0]
l = [(vocab[col], response[0, col]) for col in response.nonzero()[1]]
l = sorted(l, key=itemgetter(1),reverse=True)
print (l[:3])
print ()

#Eliminando as stopwords
count_vectorizer    = CountVectorizer(stop_words='english')
elton['word_count'] = count_vectorizer.fit_transform(elton['text'].values)

vocab  = list(count_vectorizer.get_feature_names())
counts = elton['word_count'].values.sum(axis=0).toarray()[0]

freq_distribution = Counter(dict(zip(vocab, counts)))
#print (freq_distribution.most_common(3))
print()

tfidf_vectorizer = TfidfVectorizer(stop_words='english')
people['tfidf']  = list(tfidf_vectorizer.fit_transform(people['text']))

vocab = tfidf_vectorizer.get_feature_names()

elton    = people[people.index == 'Elton John'].copy()
response = elton['tfidf'].values[0]
l        = [(vocab[col], response[0, col]) for col in response.nonzero()[1]]
l        = sorted(l, key=itemgetter(1),reverse=True)
#print (l[:3])

NameError: name 'people' is not defined

### Answer 2

In [62]:
beckham = people[people.index == 'Victoria Beckham'].copy()
mcCartney = people[people.index == 'Paul McCartney'].copy()

print (cosine_similarity(elton['tfidf'].values[0], beckham['tfidf'].values[0]))
print (cosine_similarity(elton['tfidf'].values[0], mcCartney['tfidf'].values[0]))

[[0.03407023]]
[[0.18991373]]

### Answer 3

In [67]:
count_vectorizer    = CountVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(people['text'])
nbrs         = NearestNeighbors(n_neighbors=10).fit(tfidf_matrix)

wordCount = count_vectorizer.fit_transform(people['text'])
nbrsWC         = NearestNeighbors(n_neighbors=10).fit(wordCount)

In [68]:
def get_closest_neighbors(name):
    row                = people.index.get_loc(name)
    distances, indices = nbrs.kneighbors(tfidf_matrix.getrow(row))
    names_similar      = pd.Series(indices.flatten()).map(people.reset_index()['name'])
    result             = pd.DataFrame({'distance':distances.flatten(), 'name':names_similar})
    return result

def get_closest_neighborsWC(name):
    row                = people.index.get_loc(name)
    distances, indices = nbrsWC.kneighbors(wordCount.getrow(row))
    names_similar      = pd.Series(indices.flatten()).map(people.reset_index()['name'])
    result             = pd.DataFrame({'distance':distances.flatten(), 'name':names_similar})
    return result

In [69]:
get_closest_neighborsWC('Elton John')

    distance                    name
0   0.000000              Elton John
1  27.748874           Roger Daltrey
2  27.928480             Rod Stewart
3  28.913665             John Ronane
4  29.223278          Matthew Kalman
5  29.223278             Brad Fiedel
6  29.274562        Robert E. Lerner
7  29.274562         Robbie Williams
8  29.291637  Michael White (author)
9  29.444864      Alex Scott (actor)

In [70]:
get_closest_neighbors('Elton John')

   distance                 name
0  0.000000           Elton John
1  1.186742          Rod Stewart
2  1.196510     Sting (musician)
3  1.203888       George Michael
4  1.204019         Phil Collins
5  1.218337       Kelly Clarkson
6  1.221504  Usher (entertainer)
7  1.223884                Adele
8  1.229677              Rihanna
9  1.232415          Bryan Adams

In [71]:
get_closest_neighborsWC('Victoria Beckham')

    distance              name
0   0.000000  Victoria Beckham
1  22.538855        Kelly Bell
2  23.366643      Rhian Samuel
3  23.366643    Rikke Karlsson
4  23.388031    Marie Brassard
5  23.494680        Renee Nele
6  23.494680  Hilary Alexander
7  23.515952        Yeojin Bae
8  23.515952        Ali Hewson
9  23.579652      Gillian Mann

In [72]:
get_closest_neighbors('Victoria Beckham')

   distance                 name
0  0.000000     Victoria Beckham
1  1.072772        David Beckham
2  1.264277  Stephen Dow Beckham
3  1.274599        Caroline Rush
4  1.276112  Angelique Westerhof
5  1.280018    Wal%C3%A9 Adeyemi
6  1.280657       Colin McDowell
7  1.280896          Zurain Imam
8  1.281365                Mel B
9  1.281901    Yuliya Polishchuk